<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a routerLink="/" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">BookStore Frontend</span>
  </a>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/books">Books</a>
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/category">Category</a>
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/support">Support</a>
  </nav>
  <a routerLink="/signup" class="btn btn-outline-primary">Sign up</a>
</div>
